db/mysql/*
!db/mysql/.gitkeep
src/node_modules
/public/hot
src/public/storage
src/public
src/storage/*.key
src/vendor
.env
!.env.example
!src/.env.example
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
build-an-api-with-laravel
